@import 'src/assets/styles/variables.scss';
.footer-wrapper{
    margin-top: 3em;
    background-color: black;
    color: $white;
    padding: 2px 0;
    align-items: center;
    
    .left-side-p {
       p{
        margin-bottom: 0 
       }
    }
}