.example-container{
    padding: 2em 23em;
   
}
.mat-card{
    margin-bottom: 3em;
    .title{
        .not-name{
            font-size: 1rem;
            font-weight: 400;
            margin-left: 2em;
            color: gray;
        }
    }
    .mat-card-content{
        margin: 1.3em 0
    }
}
h2{
    font-weight: 400;
    color: gray
}
.card-img-top{
    height: 365px;
}
.author{
    color: red;
}
.detailed-article-social{
    margin-top: 2em;
    ul{
        list-style-type: none;
        font-size: 16px;
        cursor: pointer;
        text-align: left;
        color: gray;
        position: absolute;
        display: block;
        padding: 0;
        border: 1px solid lightgray;
        li{
            padding: 12px 7px 7px;
            text-align: left;
            border-bottom: 1px solid lightgray;
            transition: all ease-in-out .3s;
            &:last-of-type{
                border: none;
            }
            &:hover{
                color: white;
                background-color: gray;
            }
            }
        }
}


   